.appliance--container {
  padding: 3.5rem 2.5rem;
}

.appliance--container .card-body .img-holder {
  height: 12rem;
  width: 12rem;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  border-radius: 50%;
  padding: 16px;
}

.appliance--container .card-body {
  display: flex;
  align-items: center;
  padding: 3rem;
}

.appliance--container .card-body .card:not(:last-child) {
  margin-right: 13rem;
}

.appliance--container .card-body .bg-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MuiSwitch-root {
  margin-left: 3rem;
  margin-top: 1rem;
}

.appliance--container .card-body .card {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  padding: 4rem 5rem;
  background: #efefef;
  border-radius: 1rem;
}
